body {
	background-color: black;
	color: white;
	margin: 1em;
}

textarea {
	background-color: black;
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	tab-size: 4;
	outline: none;
}

h1.top {
	color: white;
}

#title {
	color: #ff845e;
}

h1, h2, h3, h4, h5 {
	color: #ff845e;
}

a:link {color: #e0b872; text-decoration: underline;}
a:visited {color: #e0b872; text-decoration: underline;}
a:hover {color: #e0b872; text-decoration: underline;}
a:active {color: #ffff00; text-decoration: underline;}

.external {color: #ffff00 !important;}

pre {
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.5em;
	border-style: dashed;
	border-color: #333333;
}

blockquote {
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.5em;
	border-style: dashed;
	border-color: #333333;
}

blockquote p:last-child {
	margin-bottom: 0;
}

blockquote p:first-child {
	margin-top: 0;
}
